/* font  */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* bg  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: auto;
  background-image:url("./img/bg.svg");
}

/* navbar container */
.navbar {
  height: 30%;
  display: flex;
  flex-direction: row;
  background: linear-gradient(0deg,transparent,#B21212);
}
/* navbar left item div */
.navbarLeftItemDiv{
  width: 33.3%;
  text-align: center;
  margin-top: 2%;
}
/* navbar left item div a */
.navbarLeftItemDiv a{
  margin-left: 5%;
  margin-right: 5%;
  text-decoration: none;
  font-size: xx-large;
  color: white;
  font-family: 'Roboto', sans-serif;
}
/* navbar left item div hover */
.navbarLeftItemDiv a:hover{
  font-weight: bold;
  text-decoration: underline;
}
/* navbar center item div */
.navbarCenterItemDıv {
  width: 33.3%;
  text-align: center;
  margin-top: 2%;
}

/* navbar right item div */
.navbarRightItemDiv{
  width: 33.3%;
  text-align: center;
  margin-top: 2%;
}
.navbarRightItemDiv img {
  margin-right: 5%;
  margin-left: 5%;
}
/* navbar right item div a */
.navbarRightItemDiv a{
  margin-right: 5%;
  margin-left: 5%;
  display: inline;
  text-decoration: none;
  font-size: xx-large;
  color: white;
  font-family: 'Roboto', sans-serif;
}
/* navbar right item dib a hover */
.navbarRightItemDiv a:hover{
  font-weight: bold;
  text-decoration: underline;
}
/* navbar container end */

/* section */
.section {
  height: 100vh;
  width: 100%;
}

/* seciton end */
